<h1>Посылка успешно оформлена!</h1>

<p>Дата: @ViewBag.Дата</p>
<p>Откуда: @ViewBag.Откуда</p>
<p>Куда: @ViewBag.Куда</p>
<p>Способ доставки: @ViewBag.Способ_доставки</p>
<p>Вес_посылки (кг): @ViewBag.Вес</p>
<p>Ценность посылки (руб.): @ViewBag.Ценность</p>
@if (ViewBag.Ценность != 0)
{
    <p>!!Посылка ценная!!</p>
}
@if (ViewBag.Посылка_ценная is true)
{
    <p>!!Посылка ценная!!</p>
}

@Html.ActionLink("Вернуться", "Index")
